@import "imports/aek-css-config";

.vbox {
  position(absolute, 0, 0, 0, 0);
  background: @color-empty;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.vbox:after, .pager {
  height: calc(100% + 1px);
}

a:link, a:active, a:visited {
  color:#00a5ff;
}

textarea,
input{
  -webkit-border-radius:0px !important;
  border-radius: 0 !important;
}

select, .ui.input select {
  -webkit-appearance: menulist
}

input#search{
  -webkit-appearance: none !important;
  -webkit-border-radius:0px !important;
  border-radius: 0 !important;
}

.ui[class*="left icon"].input > i.icon {
  cursor: pointer;
}

.menuToggle{
  font-size: 1.5rem;
  color: #fff;
  text-align:right;
  float:right;
  &:hover{
    color: #fff;
  }
  .icon{
    opacity: 1 !important;
    margin-right: 0 !important;
  }
}

// additional styles below
.ui.button.homeButton {
	width: 4.5rem;
	height: 4.5rem;
	position: absolute;
	right: 0;
	padding: 0.8rem 0 1rem 0;
	text-align: center;
}

i.info.icon {
  color: #fff !important;
}

.ui.button.right.floated.mini.info.icon.loading {
  background: #ff9e1b !important;
}

.ui.inverted.menu .active.item {
  background: #2e2e2e !important;
}

.ui.inverted.alt.header, .ui.inverted.alt.header:hover,
.ui.alt.buttons .button:active, .ui.alt.button:active {
  color: #fff !important;
}

.ui.segment.nopadding.messageContainer {
	float: left;
	width: 49%;
	max-width: 49%;
	box-shadow: none;
}

.ui.segment.nopadding.hrefContainer {
	float: right;
	width: 49%;
	max-width: 49%;
	margin-top: 0;
	text-align: right;
}

.ui.segment.nopadding.hrefContainer a {
	display: block;
	margin-right: 0.5rem;
	margin-bottom: 0;
}

.ui.listview .item p.small {
  margin:0.25em 0;
}

.ui.listview .item:after {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.ui.secondary.action.button {
  margin-top:0.7em;
  margin-bottom:0.7em;
}

.ui.labeled.icon.menu > .item > .icon {
	height: 31px;
	width: 31px;
	margin: -0.15em auto 0.17em !important;
	font-size: 2rem !important;
}

.ui.segment.links {
  box-shadow: none;
  padding: 0;
}

.ui.menu.links {
  box-shadow: none;
}

.ui.menu.links li a {
  color:#000 !important;
}
.ui.menu.links li a:after {
  color:#000 !important;
}

.ui.listview.menu a.item:hover, .ui.listview.menu .item > a:hover {
  background: #fff !important;
}

.ui.listview.menu .item > a:first-child:last-child {
  margin: 0;
  line-height: 1 !important;
}

a.up .ui.inverted.segment{
  background-color:#000 !important;
}
a.up .ui.inverted.segment h3{
  color:#fff !important;
}

a.down .ui.inverted.segment{
  background-color:#e0e0e0 !important;
}
a.down .ui.inverted.segment h3{
  color:#000 !important;
}

#mainContent .boxout{
  padding: 1em 1em 1px 1em;
  margin-bottom: 1em;
  background:#f5f5f5;
}

#mainContent p{
  margin:0 0 1em 0
}

#mainContent p strong{
  font-weight:bold;
}

#mainContent p a,
#mainContent li a{
  color:#000;
  font-weight:bold;
  text-decoration:underline;
}

#mainContent ul{
  padding-left:1em;
}

#mainContent li{
  margin:0 0 1em 0;
}

#mainContent table{
  width:100%;
  margin-bottom:1em;
}

#mainContent table td{
  padding: 0.4em 0.4em 0.4em 0.8em;
}

#mainContent tr:nth-child(odd){
  background: #f5f5f5;
}

#backToTop{
  position:fixed;
  bottom:0;
  width:100%;
  width: 100%;
  background: #eb212e;
  padding: 0.7em 1em;
  color: #fff;
  display: none;
  font-size:1.28rem;
  cursor:pointer;
}

.loc_select {
  background:#fff;
  padding:0.5rem;
  width:100%;
}

.angle.down.icon {
  display:none;
}

select, .ui.input select {
  background:#fff;
  padding:0.5rem;
  margin-bottom:5px;
  width:100%;
  border-radius:5px;
}

.ui.info.message, .ui.attached.info.message {
    box-shadow: 0px 0px 0px 1px #ff9e1b inset, 0px 1px 2px 0 rgba(0,0,0,0.05);
    color: #ff9e1b;
    background: #fff3d6;
}

.ui.info.buttons .button, .ui.info.button {
  background: #ff9e1b;
}

.ui.info.buttons .button:hover, .ui.info.buttons .button:active, .ui.info.button:hover, .ui.info.button:active{
  background: #ff9e1b;
  color: #fff3d6;
}

.ui.labeled.icon.menu .item , .ui.labeled.icon.menu .item > .icon {
  background: #fff;
  color: #a4a4a4 !important;
}

// .ui.labeled.icon.menu > .item > .icon {
//     color: #a4a4a4 !important;
// }

.ui.inverted.menu a.item:hover {
  background: #fff;
  color: #a4a4a4;
}

.ui.inverted.menu .active.item, .ui.inverted.menu .active.item > .icon {
  background: #f2f2f2 !important;
  color: #ff9e1b !important;
}

.ui.menu .item > .floating.label {
  background-color: #ff9e1b !important;
} 