<!DOCTYPE html>

  {{ aek.set_aek_version("2.0") }}
  {{ aek.set_header_text('Library') }}


  {% set service = aek.get_service("LIBRARY_MYACCOUNT_INFO") %}
  {% set response = service.response %}

  {% if aek.action == "get_data" %}

    {% set service = aek.get_service("LIBRARY_MYACCOUNT_INFO") %}
    {{ aek.respond(service.response) }}

  {% endif %}

  {% if aek.action == "search_books" %}

    {% set service = aek.get_service("LIBRARY_SEARCH") %}
    {{ service.set_parameter("searchTerm",aek.request("query")) }}
    {{ aek.respond(service.response) }}

  {% elseif aek.action == "cancel_reservation" %}

    {% set cancel_service = aek.get_service("LIBRARY_CANCEL_HOLD") %}
    {{ cancel_service.set_parameter("holdKey",aek.request("holdKey")) }}
    {% set cancel_response = cancel_service.response %}

    {% set success = cancel_service.response.success == "true" %}

    {% if not success %}
      {% set error = cancel_service.response.message|default("Cancellation failed") %}
    {% endif %}

    {% set service = aek.get_service("LIBRARY_MYACCOUNT_INFO") %}
    {% set user_data = service.response %}

    {{ aek.respond({
      "error":error,
      "success":success,
      "new_data":user_data
    }) }}

  {% elseif aek.action == "renew_loan" %}

    {% set renew_service = aek.get_service("LIBRARY_RENEW_LOAN") %}
    {{ renew_service.set_parameter("itemID",aek.request("itemBarcode")) }}
    {% set renew_response = renew_service.response %}

    {% set success = renew_service.response.success == "true" %}

    {% if not success %}
      {% set error = renew_service.response.message|default("Renewal failed") %}
    {% endif %}

    {% if success %}
      {% set message = renew_service.response.message %}
    {% endif %}

    {% set service = aek.get_service("LIBRARY_MYACCOUNT_INFO") %}
    {% set user_data = service.response %}

    {{ aek.respond({
      "error":error,
      "success":success,
      "message":message,
      "new_data":user_data,
      "response":renew_response
    }) }}

  {% elseif aek.action == "reserve_item" %}

    {% set reserve_service = aek.get_service("LIBRARY_REQUEST_HOLD") %}
    {{ reserve_service.set_parameter("holdKey",aek.request("titleKey")) }}
    {{ reserve_service.set_parameter("pickupLocation","HE") }}

    {% set reserve_response = reserve_service.response %}

    {% set success = reserve_response.success == "true" %}

    {% if not success %}
      {% set error = reserve_response.message|default("Request failed") %}
    {% endif %}

    {% set service = aek.get_service("LIBRARY_MYACCOUNT_INFO") %}
    {% set user_data = service.response %}

    {{ aek.respond({
      "error":error,
      "success":success,
      "new_data":user_data
    }) }}

  {% endif %}


<html lang="en" data-aek-package="[[__package_data__]]" data-env="prod" data-platform="{{ aek.get_platform() }}" >
<head>
  <meta charset="utf-8">
  <title>Library</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>

<body  >

  
  <script type="text/aekdefer">

    var sheets = ["main"];
    sheets = sheets.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/css/"+s+".css"});

    var scripts = ["https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js","library"];
    scripts = scripts.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/js/"+s+".js"});

    _aekLoad(sheets.concat(scripts));

  </script>

  <script>
    window.addEventListener("load",function() {
      var script = document.createElement("script");
      script.src = "https://portal.ombiel.co.uk/assets/aek/aek-loader/0.0.6/packed/loader.js";
      document.head.appendChild(script);
    });
  </script>

</body>
</html>
